<section class="blurb">
    <h2>About Me</h2>
    <p>I am a software engineer and applied mathematician with a skillset well-suited to tackling complex problems spanning multiple domains.
       My interests lie in the cross-section of mathematics, statistics, computer science, neuroscience, and linguistics. In particular, I seek to develop 
       statistical and computational models having wide-ranging impact across fields such as machine learning, natural language processing, and theoretical
       neuroscience.</p>
    <ul class="actions">
        <li><a href="about.html" class="button">Learn More</a></li>
    </ul>
</section>
