<!-- Header -->
<header id="header">
    <h1><a href="/index.html">Daniel McNeela</a></h1>
    <nav class="links">
        <ul>
            <li><a href="/about.html">About Me</a></li>
            <li><a href="/resume/website_resume.pdf">Resume</a></li>
            <li><a href="/portfolio.html">Portfolio</a></li>
            <li><a href="/machinelearning.html">Machine Learning</a></li>
            <li><a href="/math.html">Mathematics</a></li>
            <!-- <li><a href="/bioinfo.html">Bioinformatics</a></li> -->
            <li><a href="/consulting.html">Consulting</a></li>
            <li><a href="/books.html">Books</a></li>
            <!-- <li><a href="/literature.html">Literature</a></li> -->
        </ul>
    </nav>
    <nav class="main">
        <ul>
            <li class="search">
                <a class="fa-search" href="#search">Search</a>
                <form id="search" method="get" action="{{site.baseurl}}/search/">
                    <input type="text" name="q" placeholder="Search"/>
                </form>
            </li>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>

