<section id="menu">
    <!-- Search -->
        <section>
            <form class="search" method="get" action="#">
                <input type="text" name="query" placeholder="Search" />
            </form>
        </section>

    <!-- Links -->
        <section>
            <ul class="links">
                <li>
                    <a href="index.html">
                        <h3>Home</h3>
                        <p>Return to the homepage</p>
                    </a>
                </li>
                <li>
                    <a href="resume/website_resume.pdf">
                        <h3>Resume</h3>
                        <p>PDF version of my resume</p>
                    </a>
                </li>
                <li>
                    <a href="portfolio.html">
                        <h3>Portfolio</h3>
                        <p>My coding portfolio</p>
                    </a>
                </li>
                <li>
                    <a href="math.html">
                        <h3>Mathematics</h3>
                        <p>Posts about mathematics</p>
                    </a>
                </li>
                <li>
                    <a href="machinelearning.html">
                        <h3>Machine Learning</h3>
                        <p>Posts about machine learning</p>
                    </a>
               </li>
			   <!--
               <li>
                   <a href="literature.html">
                       <h3>Literature</h3>
                       <p>My reading feed</p>
                    </a>
               </li>
			   -->
            </ul>
        </section>
</section>

