<!-- Post -->
<article class="post">
    <header>
        <div class="title">
            <h2><a href={{ include.target_post.url }}>{{include.target_post.title}}</a></h2>
            <p>{{ include.target_post.description }}</p>
			
        </div>
        <div class="meta">
            <time class="published" datetime="2016-02-09"> {% assign d = include.target_post.date | date: "%-d"  %}
{{ include.target_post.date | date: "%B" }} 
{% case d %}
  {% when '1' or '21' or '31' %}{{ d }}st
  {% when '2' or '22' %}{{ d }}nd
  {% when '3' or '23' %}{{ d }}rd
  {% else %}{{ d }}th
  {% endcase %}, 
{{ include.target_post.date | date: "%Y" }}</time>
            <a href="about.html" class="author"><span class="name">{{ include.target_post.author }}</span><img src="images/face.jpg" alt="" /></a>
        </div>
    </header>
    <a href={{ include.target_post.url }} class="image featured"><img src="{{ include.target_post.preview_img }}" alt="" /></a>
    <p>{{ include.target_post.excerpt }}</p>
    <footer>
        <ul class="actions">
            <li><a href="{{ include.target_post.url }}" class="button big">Continue Reading</a></li>
        </ul>
        <ul class="stats">
            <li><a href="#">{{ include.target_post.tags }}</a></li>
            <li><a href="#" class="icon fa-heart">0</a></li>
            <li><a href="#" class="icon fa-comment">0</a></li>
        </ul>
    </footer>
</article>
